body,
div,
ul,
ol,
li,
a,
p,
img,
span,
input,
table,
tr,
td,
h2,
h1,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}


/*body {
    font-size: 14px;
    font-family: "微软雅黑", arial, tahoma;
}*/

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #666;
}
input {
    outline: none;
}

.clr {
	height: 0;
    clear: both;
}

a:hover {
    color: #C81623;
}

 #header {
	padding:0.14rem 0.22rem;
}
#header:after{
	content: ""; 
    display: block;
    height: 0; 
    clear: both; 
}
.userinfo{
	overflow: hidden;
}
.userinfo img{
	float: left;
}
.query img{
	float: right;
}
#header img{height: 0.3rem;}
#header div{
	float: left;
	width: 33.3%;
}
.title{
	font-size: 0.3rem;
	text-align: center;
	color: #d773f2;
}

#hline{
	width: 100%;
	height: 0.04rem;
	background: -webkit-linear-gradient(left,#d773f2 10%,#5274ff 70%);
}
#nav{
	width: 100%;
	height: 0.75rem;
	background: #f5f5f5;
}
#nav:after{
	content: ""; 
    display: block;
    height: 0; 
    clear: both; 
}
#nav a{
	font-size: 0.24rem;
	padding:0.22rem 0;
	display: block;
	float: left;
	width: 12.5%;
}
.nselected{
	color: #246cff;
	border-bottom: 0.04rem solid #246cff;
}
.unnselect{
	color: #323232;
	border-bottom: 0.01rem solid #dedede;
}
#nav .more{font-family: "宋体";font-size: 0.3rem;font-weight: bold;}
