/*reset*/
body,
div,
ul,
ol,
li,
a,
p,
img,
span,
input,
table,
tr,
td,
h2,
h1,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
}
li{
	list-style: none;
}
*{
	margin: 0;padding: 0;
}
a{
	text-decoration: none;font-family: "微软雅黑";
}
/*html,body {
				width: 100%;
				font-size: 14px;
				font-family: "微软雅黑";
				text-align: center;
			}*/
/*头部*/
.clear{
	height: 0;
	overflow: hidden;
	clear: both;
}
#x-head{
	overflow: hidden;    padding: 0.75rem 1.1rem;
}
#x-head img{
	height: 1.5rem;
	line-height: 1.25rem;
	
}
#x-head div{
	float: left;
}
#x-head .x-hzhong{
	font-size:1.5rem;text-align: center;margin:0 40%;font-weight: bold;
}
#x-head .x-hleft{
	/*margin-left: 4.5%;*/margin-top: 1%;
}
#x-head .x-hright{
	margin-top: 1%;/*margin-right: 3.75%;*/
}
/*线*/
#x-line{
	display: block;width: 100%;margin-bottom: 0.775rem;
}
/*nav选择按钮*/
.x-nav ul li a{
	font-size: 1.1rem;
	color: #666666;line-height: 2.15rem;
}
.x-nav ul{
	    overflow: hidden;
    /* margin-left: 0.1rem; */
    margin: 0 auto;
    text-align: center;width:100%;
}
.x-nav ul li{
	    float: left;
    /* width: 5.85rem; */
    width: 18%;
    height: 2.15rem;
    border: 1px solid #dedede;
    text-align: center;
    border-radius: 1.5rem;
    /* margin: 0.275rem 0.0924rem; margin-top: 0.275rem;
    margin-left: 1.2%; */ margin: 0.275rem 0.70%;
   
}
.x-nav .x-ul1a a,.x-nav .x-ul1b a,.x-nav .x-ul1c a,.x-nav .x-ul1d a,.x-nav .x-ul1e a{
	color: #246cff;
}
.x-ul1a,.x-ul1b,.x-ul1c,.x-ul1d,.x-ul1e{
	background: #f5f5f5;
}
.x-nav{
	width: 31rem;
    padding-bottom: 0.925rem;
    border-bottom: 1px solid #dedede;
    margin: 0 auto;
    text-align: center;
}
/*影片图片*/
.content{
	width: 30.35rem;margin: 0.975rem auto 0;
}
.content ul{
	overflow: hidden;
}
.content ul li img{
	width: 9.8rem;margin-bottom:0.45rem ;
}
.content ul li{
	float: left;position: relative;
}
.content ul li:nth-child(2){
	margin:0 0.47rem;
}
.content ul li a{
	display: block;
}
.content ul li p{
	position: absolute;width: 9.8rem;height: 1.2rem;
    z-index: 10;
    clear: both;
    top: 13.5rem;
    height: 1.2rem;    background: rgba(0,0,0,0.5);
}
.content ul li p span{
	font-size:0.7rem ;color: #fff;line-height:1.2rem ;
	
}
.content ul li p span:nth-child(1){
	margin-left: 0.2rem;
}
.content ul li p .xspan{
	color: #ff7000;margin-right: 0.2rem;float:right;
}
.content ul li .xdiwen{
	font-size: 0.9rem;color:#333333;padding-bottom: 1.8rem;display: block;
}

